/* font-family: 'Poiret One', ;
font-family: 'Spartan', ; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  font-family: 'Poiret One';
}
h1{
  font-size: 65px;
}
h2{
  font-size: 40px;
}
p{
  font-size: 26px;
}
nav{
  width: 100%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu li{
  list-style: none;
  display: flex;
  margin: 5%;
}
.menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.introduction{
  width: 95%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.saying-hi{
  width: 50%;
  padding-left:50px;
  padding-right:50px;
}
.my-portrait{
  width: 50%;
  display: flex;
  align-items: center;
  padding-left:  100px;
}
.my-portrait img{
  width: 400px;
  height: auto;
}
/* <-------------------School projects-------------------> */
.work{
  width: 95%;
  margin: 250px auto;
}
.title{
  padding: 50px;
  align-items: center; not working
}
.work-item{
  width: 100%;
  height: 400px;
  background-color: grey;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.project-describtion{
  width: 70%;
  color:white;
  padding: 0 50px;
}
.work-img-container{
  width: 40%;
}

.project-img-container img{
  width: 80%;
  padding-right: 50px;
}
.work-link{
  text-decoration: none;
}
.work-link:hover > .work-item{
  transform: scale(1.05);
}
.work-link .work-item{
  transition: 0.3s ease-in-out;
}
.work-2{
  background: rgba(0, 25, 53);
}
.work-3{
  background: rgba(51, 0, 51);
}
.work-4{
  background: rgba(0, 0, 0);
}

/* <--------------------------Personalproductbox--------------------------> */

.project-intro{
  width: 95%;
  height: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro-text{
    width: 60%;
    padding-left: 50px;
    padding-top: 100px;
}
.product-box-body{
  width: 95%;
  margin: 250px auto;
}
.line{
  width: 95%;
  padding-bottom: 50px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.body-text{
  width: 40%;
  padding-left: 50px;
}
.box-img-container{
  width: 50%;
  display: flex;
  align-items: center;
  padding-left:  100px;
}
.box-img-container img{
  width: 400px;
  height: auto;
}
/* .box-img-container1{
  width: 50%;
  display: flex;
  align-items: center;
  padding-left:  100px
}
.box-img-container1 img{
  width: 400px;
  height: auto;
} */

/* <--------------------------Processing--------------------------> */

.processing-body{
  width: 95%;
  margin: 250px auto;
}
.line-processing{
  width: 95%;
  padding-bottom: 50px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.processing-body-text{
  width: 95%;
  padding-top: 200px;
  padding-left: 100px;
  padding-right:100px;
}
.processing-img-container{
  width: 25%;
  display: flex;
  align-items: center;
  padding-left:  50px;
}
.processing-img-container img{
  width: 300px;
  height: auto;
}
